body {
  background: url(/task__27/assets/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#animationWrap {
  position: relative;
  margin: 0 143px;
}

#animationImage {
  position: absolute;
  top: 0;
  left: 20px;
}